<div class="fondcolor"> </div>

<div class="container">
  <div class="note">
      <div class="note-add-title">
        <h2>Nouvelle note</h2>
      </div>
        <div class="container form_new">
         <%= simple_form_for [@notegroup , @note ] do |f| %>
          <%= f.input :title, placeholder: "Titre de votre Note (optionnel)", label: false %>
          <%= f.input :content, placeholder: "Description de votre Note",  label: false %>
          <%= f.input :date, label: "Quand doit se terminer votre Note?" %>
          <%= f.submit "Créer votre Note", class: "button notebuttonadd" %>
        <% end %>
      </div>
  </div>
  <%= link_to notegroups_path do %>
    <i class="fas fa-home back-home-note "></i>
  <% end %>
</div>

