<div class="fondcolor">
  <div class="container-login">
    <img class="logo-login" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1589230080/note_logo_oy9nef.png" alt="">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs input-login">
        <%= f.input :name,
                    required: true,
                    placeholder: "Nom d'utilisateur", label: false %>
        <%= f.input :email,placeholder: "Email",label: false, required: true, input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    placeholder: "Password",
                    label: false,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    placeholder: "Password confirmation",
                    label: false,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :photo, as: :file, required: true %>



      </div>

      <div class="form-actions">
        <%= f.button :submit, "Créez votre compte" ,class: "login-btn membresearch"%>
      </div>
    <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>

