<div class="fondcolor"> </div>

<div class="container">
  <div class="note-group">
    <div class="note-group-add">
      <h2>  </h2>
    </div>
    <div class="container form_new">
      <%= simple_form_for @notegroup do |f| %>
        <%= f.label "Titre de votre Note'Group" %>
        <%= f.text_field :title %>
        <br>
         <div class="colorthemebutton">
         <%= f.radio_button :color, ["thème1"] , class: "blueround", label: "haha"%>
         <div class="blueround"></div>
      </div>
      <div class="colorthemebutton">
         <%= f.radio_button :color, ["thème2"] , class: "redround", label: "haha"%>
         <div class="redround"></div>
      </div>
      <div class="colorthemebutton">
         <%= f.radio_button :color, ["thème3"] , class: "greenround", label: "haha"%>
         <div class="greenround"></div>
      </div>
    <br>

        <%= f.submit "Edition votre Note'Group", class: "button" %>
      <% end %>
    </div>
  </div>
  <%= link_to notegroups_path do %>
    <i class="fas fa-home back-home"></i>
  <% end %>
</div>
