<div class="navbar">
  <i class="fas fa-calendar-alt calendar-nav"></i>
  <div class="avatar-group">
    <div class="avatar-deco">
      <% @members.where(user: current_user.id).each do |member| %>
        <% if member[:status] == "waiting" %>
          <i class="fas fa-plus-circle notif"></i>
        <% end %>
      <% end %>
      <%= cl_image_tag current_user.photo.key, class: "avatar avatarmenu" if current_user.photo.attached? %>
    </div>
  </div>
</div>

<div class="fondcolor"> </div>

<div class="dropdown-block">
  <% @members.where(user: current_user.id).each do |member| %>
    <% if member[:status] == "waiting" %>
      <!-- <i class="fas fa-plus-circle notif"></i> -->
      <div class="invitation">
        <h4>Note'Invitations</h4>
      </div>
      <i class="fas fa-plus-circle notif-2"></i>
    <% end %>
  <% end %>
  <h4><%= link_to "Mon profil", destroy_user_session_path, method: :delete, class: "dropdown-item deco"%></h4>
  <h4><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item deco"%></h4>
</div>

<div class="invitation-block">
  <% @members.where(user: current_user.id).each do |member| %>
    <% if member[:status] == "waiting" %>
      <div class="invitation-block-update">
        <h2 class="status">Nouvelle demande pour <strong><%= member.notegroup.title %></strong> </h2>
        <h2 class="status">vous êtes invité par : <strong><%= member.notegroup.user.name %></strong> </h2>
        <div class="status-logo">
          <%= link_to notegroup_member_accept_path(member.notegroup, member), method: :patch do %>
            <i class="far fa-check-circle accept"></i>
          <% end %>
          <%= link_to notegroup_member_path(member.notegroup, member), method: :delete, data: { confirm: 'Voulez-vous vraiment décliner cette invitation ?' } do %>
            <i class="far fa-times-circle decline"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<% mois = ["janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"] %>


<div class="calendar">
   <div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li><%= mois[(Date.today.month)-1] %><br><span style="font-size:18px"><%= Date.today.year %></span></li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Lu</li>
    <li>Ma</li>
    <li>Ma</li>
    <li>Je</li>
    <li>Ve</li>
    <li>Sa</li>
    <li>Di</li>
  </ul>

  <ul class="days">
    <% if Date.today.day == 1 %> <li><span class="active">1</span></li> <% else %> <li>1</li> <%end %>
    <% if Date.today.day == 2 %> <li><span class="active">2</span></li> <% else %> <li>2</li> <%end %>
    <% if Date.today.day == 3 %> <li><span class="active">3</span></li> <% else %> <li>3</li> <%end %>
    <% if Date.today.day == 4 %> <li><span class="active">4</span></li> <% else %> <li>4</li> <%end %>
    <% if Date.today.day == 5 %> <li><span class="active">5</span></li> <% else %> <li>5</li> <%end %>
    <% if Date.today.day == 6 %> <li><span class="active">6</span></li> <% else %> <li>6</li> <%end %>
    <% if Date.today.day == 7 %> <li><span class="active">7</span></li> <% else %> <li>7</li> <%end %>
    <% if Date.today.day == 8 %> <li><span class="active">8</span></li> <% else %> <li>8</li> <%end %>
    <% if Date.today.day == 9 %> <li><span class="active">9</span></li> <% else %> <li>9</li> <%end %>
    <% if Date.today.day == 10 %> <li><span class="active">10</span></li> <% else %> <li>10</li> <%end %>
    <% if Date.today.day == 11 %> <li><span class="active">11</span></li> <% else %> <li>11</li> <%end %>
    <% if Date.today.day == 12 %> <li><span class="active">12</span></li> <% else %> <li>12</li> <%end %>
    <% if Date.today.day == 13 %> <li><span class="active">13</span></li> <% else %> <li>13</li> <%end %>
    <% if Date.today.day == 14 %> <li><span class="active">14</span></li> <% else %> <li>14</li> <%end %>
    <% if Date.today.day == 15 %> <li><span class="active">15</span></li> <% else %> <li>15</li> <%end %>
    <% if Date.today.day == 16 %> <li><span class="active">16</span></li> <% else %> <li>16</li> <%end %>
    <% if Date.today.day == 17 %> <li><span class="active">17</span></li> <% else %> <li>17</li> <%end %>
    <% if Date.today.day == 18 %> <li><span class="active">18</span></li> <% else %> <li>18</li> <%end %>
    <% if Date.today.day == 19 %> <li><span class="active">19</span></li> <% else %> <li>19</li> <%end %>
    <% if Date.today.day == 20 %> <li><span class="active">20</span></li> <% else %> <li>20</li> <%end %>
    <% if Date.today.day == 21 %> <li><span class="active">21</span></li> <% else %> <li>21</li> <%end %>
    <% if Date.today.day == 22 %> <li><span class="active">22</span></li> <% else %> <li>22</li> <%end %>
    <% if Date.today.day == 23 %> <li><span class="active">23</span></li> <% else %> <li>23</li> <%end %>
    <% if Date.today.day == 24 %> <li><span class="active">24</span></li> <% else %> <li>24</li> <%end %>
    <% if Date.today.day == 25 %> <li><span class="active">25</span></li> <% else %> <li>25</li> <%end %>
    <% if Date.today.day == 26 %> <li><span class="active">26</span></li> <% else %> <li>26</li> <%end %>
    <% if Date.today.day == 27 %> <li><span class="active">27</span></li> <% else %> <li>27</li> <%end %>
    <% if Date.today.day == 28 %> <li><span class="active">28</span></li> <% else %> <li>2</li> <%end %>
    <% if Date.today.day == 29 %> <li><span class="active">2</span></li> <% else %> <li>2</li> <%end %>
    <% if Date.today.day == 30 %> <li><span class="active">30</span></li> <% else %> <li>30</li> <%end %>
  </ul>
  </div>

<div class="add-notegroup">
  <!-- <h4>Créer un Note'Group</h4> -->
  <%= link_to new_notegroup_path do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</div>


<div class="container index">
  <div class="row justify-content-center">
    <% @notegroups.each_with_index do |notegroup, index| %>
      <% notegroup.members.each do |member| %>
        <% if current_user == member.user && member.status == "accept"%>
          <div class="col-12 col-lg-4">
            <div class="note-card-blank">


              <div class="note-card-blank-fond">
                <% if notegroup.color == 'thème1' %>
                  <div class="notes-title-blue notes-title<%= index %>">
                <% elsif notegroup.color == 'thème2' %>
                  <div class="notes-title-red notes-title<%= index %>">
                <% elsif notegroup.color == 'thème3' %>
                  <div class="notes-title-green notes-title<%= index %>">
                <% end %>
                    <div class="notes-header">
                      <% if current_user == notegroup.user %>
                        <%= link_to notegroup_path(notegroup), method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer ce groupe ?' }, class: "del-group" do%>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                      <% else %>
                        <%= link_to notegroup_member_path(member.notegroup, member), method: :delete, data: { confirm: 'Voulez-vous vraiment quitter ce notegroup ?' } do %>
                          <i class="fas fa-ban"></i>
                        <% end %>
                      <% end %>
                      <h2><%= notegroup.title.capitalize%></h2>
                      <div class="note-member-add">
                        <%= link_to notegroup_members_path(notegroup, @members) do %>
                            <i class="fas fa-user-plus"></i>
                          <% end %>
                        <%= link_to new_notegroup_note_path(notegroup), class: "add-note" do%>
                          <i class="fas fa-plus-circle"></i>
                        <% end %>
                      </div>
                    </div>

                    <div class="member-position">
                      <% notegroup.members.each do |member| %>
                        <% if notegroup.user == member.user %>
                          <i class="fas fa-crown"></i>
                          <%= cl_image_tag member.user.photo.key, class: 'avatar-note-chef' %>
                        <% else %>
                          <% if member.status == "waiting"%>
                            <%= cl_image_tag member.user.photo.key, class: 'avatar-note-waiting' %>
                            <div class="explain-waiting">
                              <p>En attente de validation par <%= member.user.name %> </p>
                            </div>
                          <% else %>
                            <%= cl_image_tag member.user.photo.key, class: 'avatar-note' %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="flechedown flechedown<%= index %>"><i class="arrow down"></i></div>
                    <div class="flecheup flecheup<%= index %>"><i class="arrow up"></i></div>
                  </div>



              <div class="note-group-item note-group-item<%= index %>">
                <% if notegroup.notes.count <=0 %>
                    <p class="noteless">aucune note</p>
                <% else %>
                <% notegroup.notes.each do |note| %>
                    <div class="my-note-space">
                      <h3 class="note-title"> <%= note.title%> </h3>
                      <!-- <p class="note-date"> <%= note.date%> jours </p> -->
                      <% @time = (note.date - Date.today).to_i %>
                      <% if current_user == note.user %>
                      <%= link_to notegroup_note_path(notegroup, note), method: :delete, data: { confirm: 'Are you sure?' } do%>
                          <i class="fas fa-trash-alt poubellenote"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="my-note-space-2">
                      <p class="note-content"> <%= note.content%> </p>
                    </div>
                    <div class="my-note-space-3">
                      <%= cl_image_tag note.user.photo.key, class: 'avatar-note'%>
                      <div class="date-done">
                        <% if note.done == false %>
                          <!-- <i class="fas fa-times note-done-false"></i> -->
                        <% else %>
                          <!-- <i class="far fa-check-circle note-done-true"></i> -->
                        <% end %>
                        <% if @time >= 1 %>
                         <p class="note-date-green"> il reste <%= (note.date - Date.today).to_i %> jours </p>
                        <% elsif @time == 0 %>
                          <p class="note-date-red"> Expire aujourd'hui </p>
                        <% else %>
                          <p class="note-date-red"> A expiré depuis <%= (Date.today - note.date).to_i %> <% if @time == -1  %> jour <% else %> jours <% end %></p>
                        <% end %>
                      </div>
                    </div>
                    <div class="bordernote"></div>

                <% end %>
                <% end %>
                </div>


              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
