<div class="navbar">
  <i class="fas fa-calendar-alt calendar-nav"></i>
  <div class="avatar-group">
    <div class="avatar-deco">
      <% @members.where(user: current_user.id).each do |member| %>
        <% if member[:status] == "waiting" %>
          <i class="fas fa-plus-circle notif"></i>
        <% end %>
      <% end %>
      <%= cl_image_tag current_user.photo.key, class: "avatar avatarmenu" if current_user.photo.attached? %>
    </div>
  </div>
</div>

<div class="fondcolor"> </div>

<div class="dropdown-block">
  <% @members.where(user: current_user.id).each do |member| %>
    <% if member[:status] == "waiting" %>
      <!-- <i class="fas fa-plus-circle notif"></i> -->
      <div class="invitation">
        <h4>Note'Invitations</h4>
      </div>
      <i class="fas fa-plus-circle notif-2"></i>
    <% end %>
  <% end %>
  <h4><%= link_to "Mon profil", destroy_user_session_path, method: :delete, class: "dropdown-item deco"%></h4>
  <h4><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item deco"%></h4>
</div>

<div class="invitation-block">
  <% @members.where(user: current_user.id).each do |member| %>
    <% if member[:status] == "waiting" %>
      <div class="invitation-block-update">
        <h2 class="status">Nouvelle demande pour <strong><%= member.notegroup.title %></strong> </h2>
        <h2 class="status">vous êtes invité par : <strong><%= member.notegroup.user.name %></strong> </h2>
        <div class="status-logo">
          <%= link_to notegroup_member_accept_path(member.notegroup, member), method: :patch do %>
            <i class="far fa-check-circle accept"></i>
          <% end %>
          <%= link_to notegroup_member_path(member.notegroup, member), method: :delete, data: { confirm: 'Voulez-vous vraiment décliner cette invitation ?' } do %>
            <i class="far fa-times-circle decline"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="calendar">
   <div class="month">
    <ul>
      <li class="prev" id="prev">&#10094;</li>
      <li class="next" id="next">&#10095;</li>
      <li id="month"><br><!-- <span style="font-size:18px"><%#= Date.today.year %></span> --></li>
      <li id="year"><br><!-- <span style="font-size:18px"><%#= Date.today.year %></span> --></li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Lu</li>
    <li>Ma</li>
    <li>Ma</li>
    <li>Je</li>
    <li>Ve</li>
    <li>Sa</li>
    <li>Di</li>
  </ul>

  <ul class="days" id="days">

  </ul>
  </div>

<div class="add-notegroup">
  <!-- <h4>Créer un Note'Group</h4> -->
  <%= link_to new_notegroup_path do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</div>


<div class="container index">
  <div class="row justify-content-center">
    <% @notegroups.each_with_index do |notegroup, index| %>
      <% notegroup.members.each do |member| %>
        <% if current_user == member.user && member.status == "accept"%>
          <div class="col-12 col-lg-4">
            <div class="note-card-blank">
              <div class="note-card-blank-fond">
                <% if notegroup.color == 'thème1' %>
                  <div class="notes-title-blue notes-title<%= index %>">
                <% elsif notegroup.color == 'thème2' %>
                  <div class="notes-title-red notes-title<%= index %>">
                <% elsif notegroup.color == 'thème3' %>
                  <div class="notes-title-green notes-title<%= index %>">
                <% end %>
                    <div class="notes-header">
                      <% if current_user == notegroup.user %>
                      <div class="note-edit">
                        <%= link_to notegroup_path(notegroup), method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer ce groupe ?' }, class: "del-group" do%>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                        <%= link_to edit_notegroup_path(notegroup) do%>
                          <i class="fas fa-edit edit-note"></i>
                        <% end %>
                      </div>
                      <% else %>
                        <%= link_to notegroup_member_path(member.notegroup, member), method: :delete, data: { confirm: 'Voulez-vous vraiment quitter ce notegroup ?' } do %>
                          <i class="fas fa-ban"></i>
                        <% end %>
                      <% end %>
                      <h2><%= notegroup.title.capitalize%></h2>
                      <div class="note-member-add">
                        <%= link_to notegroup_members_path(notegroup, @members) do %>
                            <i class="fas fa-user-plus"></i>
                          <% end %>
                        <%= link_to new_notegroup_note_path(notegroup), class: "add-note" do%>
                          <i class="fas fa-plus-circle"></i>
                        <% end %>
                      </div>
                    </div>

                    <div class="member-position">
                      <% notegroup.members.each do |member| %>
                        <% if notegroup.user == member.user %>
                          <i class="fas fa-crown"></i>
                          <%= cl_image_tag member.user.photo.key, class: 'avatar-note-chef' %>
                        <% else %>
                          <% if member.status == "waiting"%>
                            <%= cl_image_tag member.user.photo.key, class: 'avatar-note-waiting' %>
                            <div class="explain-waiting">
                              <p>En attente de validation par <%= member.user.name %> </p>
                            </div>
                          <% else %>
                            <%= cl_image_tag member.user.photo.key, class: 'avatar-note' %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="flechedown flechedown<%= index %>"><i class="arrow down"></i></div>
                    <div class="flecheup flecheup<%= index %>"><i class="arrow up"></i></div>
                  </div>



              <div class="note-group-item note-group-item<%= index %>">
                <% if notegroup.notes.count <=0 %>
                    <p class="noteless">aucune note</p>
                <% else %>
                <% notegroup.notes.each do |note| %>
                    <div class="my-note-space">
                      <h3 class="note-title"> <%= note.title%> </h3>
                      <!-- <p class="note-date"> <%= note.date%> jours </p> -->
                      <% @time = (note.date - Date.today).to_i %>
                      <% if current_user == note.user %>
                      <%= link_to notegroup_note_path(notegroup, note), method: :delete, data: { confirm: 'Are you sure?' } do%>
                          <i class="fas fa-trash-alt poubellenote"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="my-note-space-2">
                      <p class="note-content"> <%= note.content%> </p>
                    </div>
                    <div class="my-note-space-3">
                      <%= cl_image_tag note.user.photo.key, class: 'avatar-note'%>
                      <div class="date-done">
                        <% if note.done == false %>
                          <!-- <i class="fas fa-times note-done-false"></i> -->
                        <% else %>
                          <!-- <i class="far fa-check-circle note-done-true"></i> -->
                        <% end %>
                        <% if @time >= 1 %>
                         <p class="note-date-green"> il reste <%= (note.date - Date.today).to_i %> jours </p>
                         <p id="testdate" > <%= note.date %> </p>
                        <% elsif @time == 0 %>
                          <p class="note-date-red"> Expire aujourd'hui </p>
                          <p id="testdate" > <%= note.date %> </p>
                        <% else %>
                          <p class="note-date-red"> A expiré depuis <%= (Date.today - note.date).to_i %> <% if @time == -1  %> jour <% else %> jours <% end %></p>
                          <p id="testdate" > <%= note.date %> </p>
                        <% end %>
                      </div>
                    </div>
                    <div class="bordernote"></div>

                <% end %>
                <% end %>
                </div>


              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
