
<div class="fondcolor"> </div>

<div class="container">
  <div class="note-group">
    <div class="note-group-add">
      <h2>Nouveau Note'Group</h2>
    </div>
    <div class="container form_new">
      <%= simple_form_for @notegroup do |f| %>
        <%= f.input :title, placeholder: "Titre de votre Note'Group",  label: false  %>
<!--
        <div class="colorselect">
          <p class="blueround">Bleu</p>
          <p class="redround">Rouge</p>
          <p class="greenround">Vert</p>
        </div> -->

        <%= f.input :color, collection: ["thème1", "thème2", "thème3"], label: "Choissisez un thème", class: "colorinput", required: true, selected: "thème1"%>

        <%= f.submit "Créer votre Note'Group", class: "button" %>
      <% end %>
    </div>
  </div>
  <%= link_to notegroups_path do %>
    <i class="fas fa-home back-home"></i>
  <% end %>
</div>


