
<div class="fondcolor"> </div>

<div class="container">
  <div class="note-group">
    <div class="note-group-add">
      <h2>Nouveau Note'Group</h2>
    </div>
    <div class="container form_new">

      <%= simple_form_for @notegroup do |f| %>
        <%= f.input :title, placeholder: "Titre de votre Note'Group",  label: false  %>


      <div class="colorthemebutton">
         <%= f.radio_button :color, ["thème1"] , class: "blueround", label: "haha"%>
         <div class="blueround"></div>
      </div>
      <div class="colorthemebutton">
         <%= f.radio_button :color, ["thème2"] , class: "redround", label: "haha"%>
         <div class="redround"></div>
      </div>
      <div class="colorthemebutton">
         <%= f.radio_button :color, ["thème3"] , class: "greenround", label: "haha"%>
         <div class="greenround"></div>
      </div>


        <%#= f.collection_radio_buttons :color, [["thème1", class: "blueround"] , ["thème2", class: "redround"] , ["thème3", class: "greenround"]], :first, :last , label: "haha"%>
        <%#= f.input :color, collection: [["thème1", class: "blueround"] , ["thème2", class: "redround"] , ["thème3", class: "greenround"] ], label: "Choissisez un thème", class: "colorinput", required: true, selected: "thème1"%>
      <br>
        <%= f.submit "Créer votre Note'Group", class: "button notebuttonadd" %>
      <% end %>
    </div>
  </div>
  <%= link_to notegroups_path do %>
    <i class="fas fa-home back-home"></i>
  <% end %>
</div>


