<div class="navbar">
  <img class="logo-navbar" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1589230080/note_logo_oy9nef.png" alt="">
  <div class="avatar-group">
    <div class="avatar-deco">
      <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: "true" },aria: { expanded: "false" } %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete%></a>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="note-group">
    <div class="note-group-add">
      <h2>Nouveau Note'Group</h2>
    </div>
    <div class="container form_new">
      <%= simple_form_for @notegroup do |f| %>
        <%= f.input :title, placeholder: "Titre de votre Note'Group",  label: false  %>
<!--
        <div class="colorselect">
          <p class="blueround">Bleu</p>
          <p class="redround">Rouge</p>
          <p class="greenround">Vert</p>
        </div> -->

        <%= f.input :color, collection: ["Bleu", "Rouge", "Vert"], label: "Choissisez un thème", class: "colorinput", required: true, selected: "Bleu"%>

        <%= f.submit "Créer votre Note'Group", class: "button" %>
      <% end %>
    </div>
  </div>
  <%= link_to notegroups_path do %>
    <i class="fas fa-home back-home"></i>
  <% end %>
</div>


