<div class="fondcolor">
  <div class="container">
    <h2 class="login-center">Mot de passe Oublié?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions login-center">
        <p>Un nouveau mot de passe ainsi que le lien pour activer ce nouveau mot de passe vont être envoyés à cette adresse.</p>
        <%= f.button :submit, "reset", class:"login-btn membresearch" %>
      </div>
    <% end %>
    <div class="login-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
