<div class="fondcolor"> </div>


<div class="container">
  <% @userc.each do |user| %>
    <% if @notegroup.user == user %>
         <div class="member-chef" > <h2> Note'Chef : </h2> <%= cl_image_tag user.photo.key, class: 'avatar-member-chef' %> </div>
    <% end %>
  <% end %>
  <div class="members-team" >
    <h2> Note'Membres : </h2>
    <div class="member-team" >
      <% @notegroup.members.each do |member| %>
        <% if @members.count  <= 1 %>
          <p class="nothing"> aucun membres </p>
        <% else %>
          <% if member.user == @notegroup.user%>
          <% else %>
            <%= cl_image_tag member.user.photo.key, class: 'avatar-member' %>
          <% end %>
        <% end %>
      <% end %>
      <div class="member-add">
        <h2>Liste de tous les membres</h2>
         <div class="add-friend-order">
          <% @users.each do |user| %>
            <% if @notegroup.user != user %>
              <%= link_to user_notegroup_path(user, @notegroup),class: "add-friend-link" do  %>
                <div class="add-friend-member">
                 <%=cl_image_tag user.photo.key, class: 'avatar-list' %>
                 <p class="friend-name"><%= user.name %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= form_tag notegroup_members_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-bar-member",
            placeholder: "filtre par nom"
          %>
          <%= submit_tag "rechercher", class: "btn btn-primary membresearch" %>
        <% end %>

        <%= link_to notegroups_path do %>
          <i class="fas fa-home back-home-member"></i>
        <% end %>

      </div>
    </div>
  </div>
</div>


